/*** Base ****/
  /*** Remove default margin. ***/
  body {
    margin: 0;
  }
  * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  a {
    color: #ff362e;
    text-decoration: none;
  }

/*Super*/

.opacity-0 {
  opacity: 0;
}

.left {
  float: left;
}
.right {
  float: right;
}




/* Global */

.btn-red {
  border-color: #ff362e;
}
.btn-red:active {
  background: #ff362e;
  color: white;
}
.btn-red:active span {
  border-color: white;
  background: #ff362e;
}
.btn-red:hover {
  background: red;
  color: white;
}


h1 {
  font-size: 38px;
  color: #ff362e;
  font-weight: 800;
  line-height: 40px;
}
h2.sub {
  font-size: 20px;
  font-weight: 200;
  color: white;
}
h2.about {
  color: #ff362e;
  font-size: 24px;
  margin: 0 0 40px 0;
  text-align: center;
}
h2.project {
  font-size: 24px;
  font-weight: 700;
}
h5.logo {
  font-size: 13px;
  font-weight: 800;
  letter-spacing: 2px;
  line-height: 60px;
  margin: 0 0 0 50px;
}
h5.logo span {
  width: 22px;
  height: 22px;
  background-position: 0 0;
  margin: 0 5px 0 0;
}


.section-1,
.section-2,
.section-3 {
  padding: 120px 20px 100px 20px;
}
.section-1 {
  border-bottom: 1px solid #ededed;
  padding: 180px 20px 50px 20px;
}

#container,
#container2,
#container3 {
  margin: 0 auto;
  *zoom: 1;
}
#container:before,
#container2:before,
#container3:before,
#container:after,
#container2:after,
#container3:after {
  display: table;
  content: "";
  line-height: 0;
}
#container:after,
#container2:after,
#container3:after {
  clear: both;
}
#container .item,
#container2 .item,
#container3 .item {
  float: left;
}
#container .item.width1,
#container2 .item.width1,
#container3 .item.width1 {
  width: 190px;
  padding: 0 20px;
}
#container .item.width2,
#container2 .item.width2,
#container3 .item.width2 {
  width: 380px;
  height: 440px;
  padding: 0 30px;
}
#container .item.width3,
#container2 .item.width3,
#container3 .item.width3 {
  width: 570px;
  padding: 0 20px;
}


.card-container {
  z-index: 2;
}
.card-container.flipped {
  z-index: 10;
}
.card-container.flipped img {
  -webkit-box-shadow: 0 10px 50px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 10px 50px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.2);
  border: none;
}
.card-container-big .card {
  width: 570px;
}
.card-container-small {
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -ms-perspective: 800px;
  perspective: 800px;
}
.card-container-small .card {
  width: 180px;
  padding: 10px;
}

.card-container-big .card {
  width: 570px;
}


.card-tilted-left {
  -webkit-transform: rotateY(-30deg);
  -moz-transform: rotateY(-30deg);
  -ms-transform: rotateY(-30deg);
  -o-transform: rotateY(-30deg);
}
.card-tilted-right {
  -webkit-transform: rotateY(20deg);
  -moz-transform: rotateY(20deg);
  -ms-transform: rotateY(20deg);
  -o-transform: rotateY(20deg);
}
.card {
  margin: 0 0 0 0;
  left: 0;
  top: 0;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  cursor: pointer;
}
.card.flipped {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  cursor: e-resize;
}
.card:hover {
  -webkit-transform: rotateY(0);
  -moz-transform: rotateY(0);
  -ms-transform: rotateY(0);
  -o-transform: rotateY(0);
}
.card img {
  width: 100%;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.duo-1 {
  -webkit-perspective: 1500px;
  -moz-perspective: 1500px;
  -ms-perspective: 1500px;
  perspective: 1500px;
  height: 600px;
}


.item .header {
  margin: 0 0 30px 0;
  *zoom: 1;
  line-height: 30px;
}
.item .header:before,
.item .header:after {
  display: table;
  content: "";
  line-height: 0;
}
.item .header:after {
  clear: both;
}
.item .header .time {
  float: right;
  color: #d1d1d1;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.item .header .time .icon-time {
  margin: -3px 8px 0 0;
}


.item p.description {
  color: #a0a0a0;
}
.item p.description a {
  color: #a0a0a0;
}
.item p.description a:hover {
  text-decoration: underline;
}
.item .project-links {
  margin: 30px 0 0 0;
  *zoom: 1;
}
.item .project-links:before,
.item .project-links:after {
  display: table;
  content: "";
  line-height: 0;
}
.item .project-links:after {
  clear: both;
}
.item .project-links > li {
  float: left;
  margin: 7px 25px 7px 0;
}
.item img {
  border: 1px solid transparent;
}
.item.shots.width1 {
  height: 300px;
}

.btn {
  text-align: center;
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
  background: transparent;
  border: 2px solid transparent;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}
.btn span {
  padding: 0 22px;
  border: 2px solid transparent;
  height: 34px;
  line-height: 30px;
  display: block;
  width: 100%;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}
.btn-red {
  border-color: #ff362e;
}
.btn-red:active {
  background: #ff362e;
  color: white;
}
.btn-red:active span {
  border-color: white;
  background: #ff362e;
}
.btn-red:hover {
  background: red;
  color: white;
}


/* TOP BAR */
.topbar {
  position: fixed;
  width: 100%;
  left: 0;
  height: 58px;
  background: #0d1821;
  padding: 10px;
  z-index: 5;
  top: -70px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.topbar strong {
  color: white;
  margin: 8px 0 0 0;
  display: inline-block;
}
.topbar.visible {
  top: 0px;
}

.topbar-mark {
  width: 40px;
  height: 40px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  border: 2px solid #ffffff;
  display: inline-block;
  text-align: center;
  margin: 0 10px 0 0;
}
.topbar-mark .logo {
  width: 21px;
  height: 21px;
  margin: 9px 0 0 0;
  display: inline-block;
  background: url()
  background-size: contain;
}



/* Main Header */

.main-header {
  height: 600px;
  background: #000;
  overflow: hidden;
}
.main-header .container {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 2;
  padding: 160px 0 0 0;
  text-align: center;
}
.main-header .text {
  display: inline-block;
  width: 100%;
  text-align: center;
  vertical-align: top;
}
.main-header .line {
  height: 5px;
  background: #ff362e;
  position: absolute;
  top: 0;
  display: none;
  width: 100%;
  z-index: 3;
}
.main-header h1 {
  margin: 50px 0 15px 0;
  padding: 0 20px;
}


.mark {
  width: 160px;
  height: 160px;
  margin: 0;
  vertical-align: top;
  border: 2px solid white;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
  display: inline-block;
}
.mark .inner {
  width: 160px;
  height: 160px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.heart {
  width: 60px;
  height: 66px;
  background: url("../images/logo.png") no-repeat;
  display: inline-block;
  background-size: contain;
}


*.slide-in-mark {
  -webkit-animation: slide-in 0.5s;
  -moz-animation: slide-in 0.5s;
  -ms-animation: slide-in 0.5s;
  -o-animation: slide-in 0.5s;
  animation: slide-in 0.5s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-out;
  -moz-animation-timing-function: ease-out;
  -ms-animation-timing-function: ease-out;
  -o-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

*.slide-in-h1 {
  -webkit-animation: slide-in-left-right 0.5s;
  -moz-animation: slide-in-left-right 0.5s;
  -ms-animation: slide-in-left-right 0.5s;
  -o-animation: slide-in-left-right 0.5s;
  animation: slide-in-left-right 0.5s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-out;
  -moz-animation-timing-function: ease-out;
  -ms-animation-timing-function: ease-out;
  -o-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  -ms-animation-delay: 0.7s;
  -o-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
*.slide-in-h2 {
  -webkit-animation: slide-in-left-right 0.5s;
  -moz-animation: slide-in-left-right 0.5s;
  -ms-animation: slide-in-left-right 0.5s;
  -o-animation: slide-in-left-right 0.5s;
  animation: slide-in-left-right 0.5s;
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  -ms-animation-delay: 0.7s;
  -o-animation-delay: 0.7s;
  animation-delay: 0.7s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-out;
  -moz-animation-timing-function: ease-out;
  -ms-animation-timing-function: ease-out;
  -o-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}


@-webkit-keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.9, 0.9, 1);
    -moz-transform: scale3d(0.9, 0.9, 1);
    -ms-transform: scale3d(0.9, 0.9, 1);
    -o-transform: scale3d(0.9, 0.9, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

@-moz-keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.9, 0.9, 1);
    -moz-transform: scale3d(0.9, 0.9, 1);
    -ms-transform: scale3d(0.9, 0.9, 1);
    -o-transform: scale3d(0.9, 0.9, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

@-ms-keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.9, 0.9, 1);
    -moz-transform: scale3d(0.9, 0.9, 1);
    -ms-transform: scale3d(0.9, 0.9, 1);
    -o-transform: scale3d(0.9, 0.9, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

@-o-keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.9, 0.9, 1);
    -moz-transform: scale3d(0.9, 0.9, 1);
    -ms-transform: scale3d(0.9, 0.9, 1);
    -o-transform: scale3d(0.9, 0.9, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

@keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.9, 0.9, 1);
    -moz-transform: scale3d(0.9, 0.9, 1);
    -ms-transform: scale3d(0.9, 0.9, 1);
    -o-transform: scale3d(0.9, 0.9, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
@-webkit-keyframes slide-in-left-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
    -moz-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    -o-transform: translateX(-30px);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    opacity: 1;
  }
}
@-moz-keyframes slide-in-left-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
    -moz-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    -o-transform: translateX(-30px);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    opacity: 1;
  }
}
@-ms-keyframes slide-in-left-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
    -moz-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    -o-transform: translateX(-30px);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    opacity: 1;
  }
}
@-o-keyframes slide-in-left-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
    -moz-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    -o-transform: translateX(-30px);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
    -moz-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    -o-transform: translateX(-30px);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    opacity: 1;
  }
}



/*About me*/

.section-about {
  background: #0d1821;
  padding: 100px 0 0 0;
}
.section-about a {
  color: #4b5864;
}
.section-about a:hover {
  color: white;
}
.about-me {
  max-width: 780px;
  min-width: 300px;
  padding: 0 20px;
  margin: 0 auto;
  color: #4b5864;
  font-size: 16px;
}
.social {
  text-align: center;
  margin: 40px 20px 90px 20px;
}
.social .btn {
  margin: 15px 5px;
  min-width: 150px;
  color: white;
}


@media only screen and (min-width: 320px) and (max-width: 480px) {
  .card,
  .item {
    width: 285px !important;
    overflow: hidden;
    padding: 0 !important;
    -webkit-transform: rotateY(0deg);
  }
  .topbar strong {
    display: none;
  }
  .duo-1 {
    height: 280px;
  }
  .duo-2,
  .duo-3 {
    height: 220px;
  }
  .shots-1,
  .shots-2,
  .shots-3 {
    height: 440px !important;
  }
  .wtm-1 {
    height: 240px !important;
  }
  .wtm-2 {
    height: 300px !important;
  }
  .section-1,
  .section-2,
  .section-3 {
    padding: 120px 0 100px 0 !important;
  }
  .main-header {
    height: 500px;
  }
  .main-header .container {
    padding: 80px 0 0 0;
  }
  .btn {
    display: block;
  }
}
@media only screen and (max-height: 850px) and (min-width: 500px) {
  .main-header {
    height: 420px;
  }
  .main-header .mark {
    width: 140px;
    height: 140px;
    margin: 30px 40px 0 -20px;
  }
  .main-header .mark .inner {
    height: 157px;
  }
  .main-header #terrain.no-webgl {
    height: 650px;
  }
  .main-header .container {
    padding-top: 105px;
  }
  .main-header h1 {
    margin: 60px 0 15px 0;
    padding: 0;
  }
  .main-header .text {
    width: auto;
    text-align: left;
  }
}
@media all and (max-width: 1440px) {
  .intro .logo-big {
    margin: 0 0 0 355px;
  }
  .intro .deco-triangles-1 {
    margin: 0 0 0 37px;
  }
  .intro .deco-triangles-2 {
    margin: 0 0 0 37px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .icon {
    /* Reference the @2x Sprite */
  
    background-image: url(/images/sprite@2x.png);
    /* Translate the @2x sprite's dimensions back to 1x */
  
    background-size: 1000px 1000px;
  }
 
}
